@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5">
    <h2 class="text-danger">Truy cập bị từ chối</h2>
    <p>Bạn không có quyền truy cập vào trang này.</p>
    <a href="/Devices" class="btn btn-custom">Quay về trang chính</a>
</div>